# IDE settings
/.idea
/.vscode
.git

# build
**/dist/
build
.DS_Store

# node dependencies
**/node_modules

__pycache__
out

# working dir ----> stage -----> committed

# git rm --cached **/*.pyc to uncommit
# git restore --staged **/*.pyc to unstage
#"git restore <file>..." to discard changes in working directory
*.pyc